.jumbotron {
    margin: 0;
    color: rgb(83, 58, 5);
    background-image: linear-gradient(to right, #099ac1, #0576da, #0532da);
    font-family: 'Goblin One', cursive;
}

.navbar {
    background-color: rgb(14, 0, 139);
}

body {
    font-family: 'Changa', sans-serif;
}